{% extends "base.html" %}
{% load static %}
{% block title %}Wash Machine Manage{% endblock %}
{% block content %}
    <div class="admin-main">
        <blockquote class="layui-elem-quote">
            <a href="javascript:void(0);" class="layui-btn layui-btn-small" id="add">
                <i class="fa fa-plus-circle"></i> 新建
            </a>
            <a href="javascript:void(0);" class="layui-btn layui-btn-small" id="reload">
                <i class="fa fa-repeat"></i> 刷新重置
            </a>
        </blockquote>
        <div class=" layui-form">
            <table class="layui-table admin-table">
                <thead>
                <tr>
                    <th style="width: 30px;"><input type="checkbox" lay-filter="allselector" lay-skin="primary"
                                                    title=""></th>
                    <th>洗衣机编号</th>
                    <th>寝室楼号</th>
                    <th>运行状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="content">
                </tbody>
            </table>
        </div>
        <div class="placepass"></div>
        <div class="admin-table-page">
            <div id="paged" class="page"></div>
        </div>
    </div>
{% endblock %}
{% block templates_script %}
    <script src="{% static 'js/washmachine/washmachine.js' %}"></script>
    <script type="text/html" id="tpl">
        <%# layui.each(d.data, function(index, item){ %>
        <tr data-id="<% item.id %>">
            <td><input type="checkbox" lay-skin="primary" title=""></td>
            <td><% item.machine_id?item.machine_id:"-" %></td>
            <td><% item.dormitory_building_number?item.dormitory_building_number:"-" %></td>
            <td><% item.state?item.state:"-" %></td>
            <td>
                <a href="javascript:void(0);" data-opt="details" class="layui-btn layui-btn-normal layui-btn-mini">详情</a>
                <a href="javascript:void(0);" data-opt="edit" class="layui-btn layui-btn-mini">编辑</a>
                <a href="javascript:void(0);" data-opt="delete" class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
            </td>
        </tr>
        <%# }); %>
    </script>
{% endblock %}