{% extends "base.html" %}
{% load static %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <div id="large-header" class="large-header"
         style="background-image:url({% static 'images/background.jpg' %});"></div>
    <div class="login-form account-box login-box">
        <form class="layui-form layui-form-pane" action="{% url 'login' %}" method="post">
            <div class="layui-form-item">
                <img src="{% static 'images/black-logo.png' %}" width="98%" height="98%">
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">账号：</label>
                <div class="layui-input-inline">
                    {{ form.username }}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码：</label>
                <div class="layui-input-inline">
                    {{ form.password }}
                </div>
            </div>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <div class="layui-form-item">
                <a name="register" href="{% url "register" %}" class="layui-btn btn-reset layui-btn-danger">注册</a>
                <button type="submit" class="layui-btn btn-submit">立即登录</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block templates_script %}
    <script>
        layui.use(['layer', 'element', 'form'], function () {
            var layer = layui.layer,
                element = layui.element,
                form = layui.form;
            {% if error %}
                var login_msg = "{{ error }}";
                if (login_msg) {
                    layer.msg(login_msg, {
                        icon: 5,
                        zIndex: 19970531,
                        time: 1000,
                        shade: [0.5, '#FFF'],
                        shadeClose: true
                    });
                }
            {% endif %}
            {% if message %}
                var login_msg = "{{ message }}";
                if (login_msg) {
                    layer.msg(login_msg, {
                        icon: 1,
                        zIndex: 19970531,
                        time: 1000,
                        shade: [0.5, '#FFF'],
                        shadeClose: true
                    });
                }
            {% endif %}

        });
    </script>
    {#    <script src="{% static 'js/registration/login.js' %}"></script>#}
{% endblock %}