{% extends "base.html" %}
{% load static %}
{% block title %}Change you password{% endblock %}
{% block content %}
    <div class="login-form account-box login-box">
        <form class="layui-form layui-form-pane" action="." method="post">
            <div class="layui-form-item">
                <img src="{% static 'images/black-logo.png' %}" width="98%" height="98%">
            </div>
            {% if form.errors %}
                {% for error_key,error_value in form.errors.items %}
                    <div style="color: red;font-size: 16px">{{ error_value }}</div>
                {% endfor %}
            {% endif %}
            <div class="layui-form-item">
                <label class="layui-form-label">旧密码：</label>
                <div class="layui-input-inline">
                    <input type="password" class="layui-input" name="old_password" autofocus="" required=""
                           id="id_old_password">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">新密码：</label>
                <div class="layui-input-inline">
                    <input type="password" class="layui-input" name="new_password1" required="" id="id_new_password1">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码：</label>
                <div class="layui-input-inline">
                    <input type="password" class="layui-input" name="new_password2" required="" id="id_new_password2">
                </div>
            </div>
            {% csrf_token %}
            <div class="layui-form-item">
                {% if perms.student %}
                    {% if perms.student.view_student_dashboard %}
                        <a name="register" href="{% url "view_student_dashboard" %}"
                           class="layui-btn btn-reset layui-btn-danger">返回</a>
                    {% endif %}
                {% endif %}
                {% if perms.repair %}
                    {% if perms.repair.view_repair_dashboard %}
                        <a name="register" href="{% url "view_repair_dashboard" %}"
                           class="layui-btn btn-reset layui-btn-danger">返回</a>
                    {% endif %}
                {% endif %}
                <button type="submit" class="layui-btn btn-submit">修改密码</button>
            </div>
        </form>
    </div>
{% endblock %}