{% extends "base.html" %}
{% load static %}
{% block title %}Wash Machine Manage{% endblock %}
{% block content %}
    <div class="admin-main">
        <blockquote class="layui-elem-quote">
            {% if perms.money.view_rechargeForm and perms.money.recharge_money %}
                <a href="javascript:void(0);" class="layui-btn layui-btn-sm" id="recharge">
                    <i class="fa fa-plus-circle"></i> 充值
                </a>
            {% endif %}
            <a href="javascript:void(0);" class="layui-btn layui-btn-sm" id="reload">
                <i class="fa fa-repeat"></i> 刷新重置
            </a>
        </blockquote>
        <div class=" layui-form">
            <table class="layui-table admin-table">
                <thead>
                <tr>
                    <th style="width: 30px;"><input type="checkbox" lay-filter="allselector" lay-skin="primary"
                                                    title=""></th>
                    <th>交易用户</th>
                    <th>交易时间</th>
                    <th>交易金额</th>
                    <th>交易余额</th>
                    <th>交易类型</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="table_content">
                </tbody>
            </table>
        </div>
        <div class="placepass"></div>
        <div class="admin-table-page">
            <div id="paged" class="page"></div>
        </div>
    </div>
{% endblock %}
{% block templates_script %}
    <script src="{% static 'js/money/money.js' %}"></script>
    <script type="text/html" id="tpl">
        <%# layui.each(d.data, function(index, item){ %>
        <%# var transaction_time="-"; %>
        <%# if(item.transaction_time){transaction_time=layui.common.date.datetimeFormat_3(item.transaction_time);} %>
        <tr data-id="<% item.id %>">
            <td><input type="checkbox" lay-skin="primary" title=""></td>
            <td><% item.trading_account?item.trading_account:"-" %></td>
            <td><% transaction_time %></td>
            <td><% item.trading_amount?item.trading_amount:"-" %></td>
            <td><% item.balance?item.balance:"-" %></td>
            <td>
                <%# if(!item.transaction_type){ %>
                -
                <%# }%>
                <%# if(item.transaction_type==='R'){ %>
                充值
                <%# }%>
                <%# if(item.transaction_type==='P'){ %>
                支付
                <%# }%>
                <%# if(item.transaction_type==='B'){ %>
                返现
                <%# }%>
            </td>
            <td>
                {% if perms.money.findOne_money %}
                    <a href="javascript:void(0);" data-opt="details"
                       class="layui-btn layui-btn-normal layui-btn-xs">详情</a>
                {% endif %}
            </td>
        </tr>
        <%# }); %>
    </script>
{% endblock %}