{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'lib/layui/css/layui.css' %}" rel="stylesheet">
    <link href="{% static 'css/swm.min.css' %}" rel="stylesheet">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div id="header" class="layui-header">
        <div class="layui-logo">i Washing</div>
    </div>
    <div id="content" class="layui-body">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer" class="layui-footer">
        <div style="color: white;text-align:center">
            &copy;爱沃森 关于我们 加入我们 问题回馈 联系方式 合作伙伴 服务条款 广告业务 版权声明 最新动态
        </div>
    </div>
    {#    <div id="header" class="layui-header">#}
    {#        <div class="layui-logo">i Washing</div>#}
    {#        <ul class="layui-nav layui-layout-left">#}
    {#            <li class="layui-nav-item"><a href="">首页</a></li>#}
    {#            <li class="layui-nav-item"><a href="">预约</a></li>#}
    {#            <li class="layui-nav-item"><a href="">报修</a></li>#}
    {#            <li class="layui-nav-item"><a href="">历史订单</a></li>#}
    {#            <li class="layui-nav-item"><a href="">积分商城</a></li>#}
    {#        </ul>#}
    {#        <ul class="layui-nav layui-layout-right">#}
    {#            <li class="layui-nav-item">#}
    {#                <a href="javascript:;">#}
    {#                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">#}
    {#                    admin#}
    {#                </a>#}
    {#                <dl class="layui-nav-child">#}
    {#                    <dd><a href="">基本资料</a></dd>#}
    {#                    <dd><a href="">安全设置</a></dd>#}
    {#                </dl>#}
    {#            </li>#}
    {#            <li class="layui-nav-item"><a href="">退了</a></li>#}
    {#        </ul>#}
    {#    </div>#}

    {#    <div id="content" class="layui-body">#}
    {#      <div style="margin-left:auto;margin-right: auto;margin-top:30px;width: 70%;">#}
    {#          <div class="layui-row layui-col-space10">#}
    {#              <div class="layui-col-md12">#}
    {#                  <div class="layui-carousel" id="test1">#}
    {#                        <div carousel-item>#}
    {#                          <div>条目1</div>#}
    {#                          <div>条目2</div>#}
    {#                          <div>条目3</div>#}
    {#                          <div>条目4</div>#}
    {#                          <div>条目5</div>#}
    {#                        </div>#}
    {#                  </div>#}
    {#              </div>#}
    {#          </div>#}
    {#      </div>#}
    {#    </div>#}


</div>
<script src="{% static 'lib/layui/layui.js' %}"></script>
{#<script>#}
{#//JavaScript代码区域#}
{#layui.use(['element','carousel'], function(){#}
{#  var element = layui.element;#}
{# var carousel = layui.carousel;#}
{#  //建造实例#}
{#  carousel.render({#}
{#    elem: '#test1'#}
{#    , height:'600px'#}
{#    ,width: '100%' //设置容器宽度#}
{#    ,arrow: 'always' //始终显示箭头#}
{#    //,anim: 'updown' //切换动画方式#}
{#  });#}
{#});#}
{#</script>#}
</body>
</html>