{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'lib/layui/css/layui.css' %}" rel="stylesheet">
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/swm.min.css' %}" rel="stylesheet">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div id="header" class="layui-header">
        <div class="layui-logo"><img src="{% static 'images/white-logo.png' %}" width="55%" height="55%"></div>
        <ul class="layui-nav layui-layout-left">
            {% if perms.student %}
                {% if perms.student.view_student_dashboard %}
                    <li class="layui-nav-item"><a href="{% url "view_student_dashboard" %}">首页</a></li>
                {% endif %}
                {% if perms.washmachine.view_washmachine %}
                    <li class="layui-nav-item"><a href="{% url "view_washmachine" %}">洗衣机</a></li>
                {% endif %}
                {% if perms.appointment.view_appointment %}
                    <li class="layui-nav-item"><a href="{% url "view_appointment" %}">我的预约</a></li>
                {% endif %}
                {% if perms.repairment.view_repairment %}
                    <li class="layui-nav-item"><a href="{% url "view_repairment" %}">我提交的异常</a></li>
                {% endif %}
                {% if perms.money.view_money %}
                    <li class="layui-nav-item"><a href="{% url "view_money" %}">我的交易</a></li>
                {% endif %}
            {% endif %}
            {% if perms.repair %}
                {% if perms.repair.view_repair_dashboard %}
                    <li class="layui-nav-item"><a href="{% url "view_repair_dashboard" %}">首页</a></li>
                {% endif %}
                {% if perms.washmachine.view_washmachine %}
                    <li class="layui-nav-item"><a href="{% url "view_washmachine" %}">洗衣机管理</a></li>
                {% endif %}
                {% if perms.appointment.view_appointment %}
                    <li class="layui-nav-item"><a href="{% url "view_appointment" %}">预约管理</a></li>
                {% endif %}
                {% if perms.repairment.view_repairment %}
                    <li class="layui-nav-item"><a href="{% url "view_repairment" %}">异常管理</a></li>
                {% endif %}
                {% if perms.money.view_money %}
                    <li class="layui-nav-item"><a href="{% url "view_money" %}">交易管理</a></li>
                {% endif %}
            {% endif %}
        </ul>
        <ul class="layui-nav layui-layout-right">
            {% if request.user.is_authenticated %}
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        {{ request.user.first_name }}{{ request.user.last_name }}
                    </a>
                    <dl class="layui-nav-child">
                        {% if perms.student %}
                            {% if perms.student.edit_student_information %}
                                <dd><a href="{% url "edit_student_information" %}">基本资料</a></dd>
                            {% endif %}
                        {% endif %}
                        {% if perms.repair %}
                            {% if perms.repair.edit_repair_information %}
                                <dd><a href="{% url "edit_repair_information" %}">基本资料</a></dd>
                            {% endif %}
                        {% endif %}
                        <dd><a href="{% url "password_change" %}">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="{% url "logout" %}">退了</a></li>
            {% else %}
                <li class="layui-nav-item"><a href="{% url "login" %}">登录</a></li>
            {% endif %}
        </ul>
    </div>
    <div id="content" class="layui-body">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer" class="layui-footer">
        <div style="color: white;text-align:center">
            &copy;爱沃森 关于我们 加入我们 问题回馈 联系方式 合作伙伴 服务条款 广告业务 版权声明 最新动态
        </div>
    </div>
    <script src="{% static 'lib/CountDown.min.js' %}"></script>
    <script src="{% static 'lib/vue.min.js' %}"></script>
    <script src="{% static 'lib/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'lib/axios.min.js' %}"></script>
    <script src="{% static 'lib/layui/layui.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        });
    </script>
    {% block templates_script %}
    {% endblock %}
</body>
</html>