{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Index</title>
    <link href="{% static 'lib/layui/css/layui.css' %}" rel="stylesheet">
    <link href="{% static 'css/swm.min.css' %}" rel="stylesheet">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">i Washing</div>
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="">首页</a></li>
      <li class="layui-nav-item"><a href="">预约</a></li>
      <li class="layui-nav-item"><a href="">报修</a></li>
      <li class="layui-nav-item"><a href="">历史订单</a></li>
      <li class="layui-nav-item"><a href="">积分商城</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
              <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          用户
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">退了</a></li>
        </li>
    </ul>
  </div>

  <div class="layui-body">
      <div style="margin-left:auto;margin-right: auto;margin-top:30px;width: 70%;">
          <div class="layui-row layui-col-space10">
              <div class="layui-col-md8">
                  <div class="layui-carousel" id="test1">
                        <div carousel-item>
                          <div>条目1</div>
                          <div>条目2</div>
                          <div>条目3</div>
                          <div>条目4</div>
                          <div>条目5</div>
                        </div>
                  </div>
              </div>
              <div class="layui-col-md4" >
                  <div  style="height: 300px ;background-color: #00F7DE">2/3</div>
              </div>
          </div>
           <div class="layui-row layui-col-space10">
               <div class="layui-col-md8"  >
                   <div  style="height: 300px ;background-color: #00F7DE">
                       <h3>动态</h3>
                       <ul>
                           <li>双十一即将来临，小伙伴们新买的衣服需要清洗后再穿哟</li>
                           <li>开学季，优惠放不停。</li>
                           <li>万圣节，穿搭你知道多少？不给糖就捣乱</li>
                           <li>双十一即将来临，小伙伴们新买的衣服需要清洗后再穿哟</li>
                           <li>开学季，优惠放不停。</li>
                           <li>万圣节，穿搭你知道多少？不给糖就捣乱</li>
                        </ul>
                   </div>
               </div>
                <div class="layui-col-md4" >
                    <div  style="height: 300px ;background-color: #00F7DE">
                        <h3>公告</h3>
                        <ul>
                            <li>双十一即将来临，小伙伴们新买的衣服</li>
                            <li>开学季，优惠放不停。</li>
                            <li>万圣节，穿搭你知道多少？不给糖就捣乱</li>
                            <li>十月消费清单已出，等你来看</li>
                             <li>双十一即将来临，小伙伴们新买的衣服</li>
                            <li>开学季，优惠放不停。</li>
                            <li>万圣节，穿搭你知道多少？不给糖就捣乱</li>
                            <li>十月消费清单已出，等你来看</li>
                        </ul>
                    </div>
                </div>
          </div>
      </div>
  </div>

  <div class="layui-footer">
      <div style="color: white;text-align:center">
        &copy;爱沃森 关于我们 加入我们 问题回馈 联系方式 合作伙伴 服务条款 广告业务 版权声明 最新动态
      </div>
  </div>
</div>
<script src="{% static 'lib/layui/layui.js' %}"></script>
<script>
//JavaScript代码区域
layui.use(['element','carousel'], function(){
  var element = layui.element;
 var carousel = layui.carousel;
  //建造实例
  carousel.render({
    elem: '#test1'
    , height:'300px'
    ,width: '100%' //设置容器宽度
    ,arrow: 'always' //始终显示箭头
    //,anim: 'updown' //切换动画方式
  });
});
</script>
</body>
</html>